body {
    background-color: #1a1a1a;
}

.input {
    --box-shadow-color: #404040;
    box-shadow: 0 1rem 1rem var(--box-shadow-color) !important;
    background-color: #242424 !important;
}

.form-background {
    background-color: #2b2b2b !important;
}

.formLabel {
    color: white;
}