@import url("Dark.css");

.parentdiv {
    vertical-align: center;
}

.homediv {
    vertical-align: center;
    margin-top: 20%;
    margin-left: 40%;
    width: 20em;
    height: 50em;
    margin-right: 40%;
    text-align: center;
}

.button-custom {
    width: 200px;
}