.title-name {
    color: rgb(114, 114, 114);
    text-align: center;
    display: inline;
    list-style-type: none; 
    padding: 0px; 
    margin: 0px;
    margin-left: 45%;
    margin-right: 55%;
}

.chart-class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-div {
    display: block;
    align-content: center;
}